<%- include('../header.ejs')  -%>
<%- include('./partials/banner.ejs')  -%>
<div class="container mt-5 pt-10">
        <div class="container mt-3 p-5"  id="reveal">
            <div class="alert alert-danger p-2" style="border-left: 5px solid red;border-right: 1px solid red;border-top: 1px solid red;border-bottom: 1px solid red;">
              <h2 class="mb-3 mt-2">This order has been returned.</h2>
              <a style="outline: none; border: none;" class="btn btn-primary btnStyle mb-3" href="/">Continue shopping</a>
            </div>
          </div>
</div>
<%- include('../footer.ejs')  -%>